#product{ width: 100%; float: left; }
#home_banner{ width: 100%; float: left; background: url(/../assets/images/bnr_bg.jpg) #f0ffc2 no-repeat center top;}
.banner_con{ width: 1000px; padding: 70px 0; margin: 0 auto;overflow: auto;}
.banner_img{ float: left; width: 40%;}
.banner_text{ float: left; width: 55%; padding: 0 0 0 30px;}
.banner_text span{ font-size: 23px; color: #8caf1c;}
.banner_text h2{ font-size: 56px; color: #000; margin: 20px 0;}
.banner_text h3{ font-size: 50px; color: #000; margin: 20px 0;}

.banner_text p{color: #323232; font-size: 17px; line-height: 25px; margin-bottom: 30px; }
.banner_text .btn{ padding: 8px 20px; text-decoration: none; font-size: 18px; color: #fff; background-color: #333; border-radius: 3px;}
.banner_text .btn:hover{ background-color: #8caf1c;}

