<div id="header_con">
    <div class="container">
        <div class="logo">
            <a routerLink="/" title="organic">
                <img src="assets/images/logo.png" alt="organic" title="organic">
            </a>
        </div>
        <div class="top_search"><input type="text" placeholder="Search..." />
            <button ><i class="fas fa-search"></i></button></div>
        <div class="top_menu">
            <ul>
                <li><a routerLink="/" title="Home">Home</a></li>
                <li class="dropdown">
                    Menu
                    <ul class="dropdown-content">
                        <li><a routerLink="/juice" title="Juice">Juice</a></li>
                        <li><a routerLink="/groceries" title="Groceries">Groceries</a></li>
                    </ul>
                </li>

                <li><a routerLink="/shop" title="Shop">Shop</a></li>
                <li><a routerLink="/cart" title="Cart"><i class="fas fa-shopping-cart"></i> Cart</a></li>
            </ul>
        </div>
    </div>
</div>