<div id="header_con">
    <div class="container">
        <div class="logo"><a routerLink="/" routerLinkActive="active"><img src="assets/images/logo.png" alt="organic" title="organic"></a></div>
        <div class="top_menu">
            <ul>
                <li><a routerLink="/" routerLinkActive="active" title="Home">Home</a></li>
                <li><a routerLink="/juice" routerLinkActive="active" title="Juice">Juice</a></li>
                <li><a routerLink="/groceries" routerLinkActive="active" title="Groceries">Groceries</a></li>
                <li><a routerLink="/about" routerLinkActive="active" title="About">About</a></li>
                <li><a routerLink="/contact" routerLinkActive="active" title="Contact">Contact</a></li>
                <li><a routerLink="/shop" routerLinkActive="active" title="Shop">Shop</a></li>
                <li><a routerLink="/cart" routerLinkActive="active" title="Cart">Cart</a></li>
            </ul>
        </div>
    </div>
</div>