<div id="inner_banner"><img src="assets/images/juiceimg.jpg"></div>
<div class="mid_container">
    <div class="container">
        <h1>Juice</h1>
        <div class="products_list">
            <ul>
                <li *ngFor = 'let juiceList of juiceMenu'>
                    <img [src]="juiceList.image">
                    <h4>{{juiceList.title}}</h4>
                    <p>{{juiceList.para}}</p>
                    <span>Price: £{{juiceList.price}}</span>
                    <div class="spacer"></div>
                    <a routerLink="/cart/{{juiceList.id}}" class="btn">Add Cart</a>
                </li>
            </ul>
        </div>
    </div>
    </div>