<div id="footer">
    <div class="container">

        <div class="ftr_con">
            <h3>Quick Links </h3>
            <ul>
                <li><a routerLink="/" routerLinkActive="active" title="Home">Home</a></li>
                <li><a routerLink="/" routerLinkActive="active" title="Juice">Juice</a></li>
                <li><a routerLink="/" routerLinkActive="active" title="Groceries">Groceries</a></li>
                <li><a routerLink="/" routerLinkActive="active" title="About">About</a></li>
                <li><a routerLink="/" routerLinkActive="active" title="Contact">Contact</a></li>
                <li><a routerLink="/" routerLinkActive="active" title="Cart">Cart</a></li>
                <li><a routerLink="/" routerLinkActive="active" title="Checkout">Checkout</a></li>
            </ul>
        </div>
        <div class="ftr_con">
            <h3>Site Links</h3>
            <ul>
                <li><a routerLink="" routerLinkActive="active" title="My account">My account</a></li>
                <li><a routerLink="" routerLinkActive="active" title="Checkout">Checkout</a></li>
                <li><a routerLink="/" routerLinkActive="active" title="Shop">Shop</a></li>
                <li> <a routerLink="" routerLinkActive="active" title="Privacy Policy">Privacy Policy</a> </li>
                <li><a routerLink="" routerLinkActive="active" title="Shipping Details">Shipping Details</a></li>
                <li><a routerLink="" routerLinkActive="active" title="Offers Coupons">Offers Coupons</a></li>
                <li> <a routerLink="" routerLinkActive="active" title="Terms & Conditions">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="ftr_con">
            <a routerLink="/" routerLinkActive="active"><img src="assets/images/organic-store-white-logo.png" alt="organic" title="organic"></a>
            <p> We gather information on each product from hundreds of online stores, including articles, reviews, user
                comments, forum posts, brand reputation sentiment, brand customer service quality, and other pertinent
                data.
            </p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="copyright">Copyright © 2024 | Organic Store </div>
</div>