#footer{ width: 100%; background-color: #001524; float: left; padding: 50px 0;}
#footer h3{ color: #fff; font-size: 25px;}
.ftr_con{ width: 33%; float: left;}
.ftr_con p{ color: #fff; font-size: 14px; line-height: 22px; margin-top: 20px;}
#footer a{ color: #fff; font-size: 14px; text-decoration: none; line-height: 22px;}
#footer a:hover{ color: #9cc618;}
#footer ul{ margin: 0px; padding: 0px;}
#footer ul li{ margin: 0px; padding: 0px; line-height: 30px;}
.copyright{ width: 100%; margin-top: 50px; border-top: 1px solid #22313c; padding: 40px 0 0 0; text-align: center; color: #fff; font-size: 13px;}

