.about_container{ width: 800px; text-align: center; margin: 0 auto;}
.about_container img{ border-radius:50%;}
.about_container h3{ font-size: 30px; color: #333; font-weight: 300; font-style: italic;}

